{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trivy</title>
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/logreg.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  </head>
  <body>
  <div class="container">
    <div class='background'></div>
    <div class="Form-Login">
        {% if message %}<p>{{ message }}</p>{% endif %}
        <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <h1>Login to Trivy</h1>
        <div class='email'>
          <input type="email" name="email" />
          <label>Email</label>
        </div>
        <div class='password'>
        <input type="password" name="password" id="password"/>
          <label>Password</label>
          <span id="show-password">
            <i class="far fa-eye"></i>
          </span>
        </div>
        <div>
          <button class='Button-Login'>Login</button>
        </div>
        <a href="{% url 'registration' %}">Don't have an account? Sign-Up.</a>
      </form>
    </div>
  </div>

 </body>
 <script>
   showP = document.getElementById('show-password')
   showP.onclick = () => {
    password = document.getElementById('password')
     if (password.type === "password"){
        password.setAttribute('type','text')
     } else {
        password = document.getElementById('password')
        password.setAttribute('type','password')
     }
   }
 </script>
</html>

</body>
</html>