<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <title></title>
</head>

<body>
    <form method="POST" action="{% url 'profile' %}">
        {% csrf_token %}
        {% if isGuide %}
            <input type="radio" name="isGuide" id='guidebtn' checked previousValue="checked">
        {% else %}
            <input type="radio" name="isGuide" id='guidebtn'>
        {% endif %}
        <div id="output"></div>
        <p>Are you a Guide</p>
        {% if isGuide %}
        <div id="afterGuide" style="display: block">
            <select id="places" name="places" value={{place.id}}>
                <option value="">Select a Place</option>
                {% for p in places %}
                {% if p == place %}
                <option value="{{p.id}}" selected>{{p.name}}</option>
                {% else %}
                <option value="{{p.id}}">{{p.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input type="number" placeholder="$xyz" name="price">
        </div>
        {% else %}
        <div id="afterGuide" style="display: none">
            <select id="places" name="places">
                <option value="">Select a Place</option>
                {% for p in places %}
                <option value="{{p.id}}">{{p.name}}</option>
                {% endfor %}
            </select>
            <input type="number" placeholder="$xyz" name="price">
        </div>
        {% endif %}
        <select data-placeholder="Choose tags ..." name="interests" multiple class="chosen-select" value="{{chosen_interests}}" style="width: 100%">
            <!-- <option value="Engineering">Engineering</option>
            <option value="Carpentry">Carpentry</option>
            <option value="Plumbing">Plumbing</option>
            <option value="Electical">Electrical</option>
            <option value="Mechanical">Mechanical</option>
            <option value="HVAC">HVAC</option> -->
            {% for i in interests %}
            {% if chosen_interests %}
                {% if i in chosen_interests %}
                <option value="{{i.id}}" selected>{{i.name}}</option>
                {% else %}
                <option value="{{i.id}}">{{i.name}}</option>
                {% endif %}
            {% else %}
                <option value="{{i.id}}">{{i.name}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</body>
<script>
    document.getElementById('output').innerHTML = location.search;
    $(".chosen-select").chosen();
    // console.log(radioBtn.checked)
    // if (radioBtn.checked===true) {
    //     radioBtn.addEventListener('click', () => {
    //         document.getElementById('places').style.display = "none"
    //         radioBtn.checked = false;
    //     })
    // }
    // radioBtn.addEventListener('click', () => {
    //     console.log("Hello")
    //     if (radioBtn.checked===true) {
    //         console.log("Hello 2")
    //         document.getElementById('places').style.display = "block"
    //     } else {
    //         document.getElementById('places').style.display = "none"
    //         radioBtn.checked = false;
    //     }
    // })
    var grd = function(){
    $("input[type='radio']").click(function() {
        var previousValue = $(this).attr('previousValue');
        var name = $(this).attr('name');

        if (previousValue == 'checked') {
            $(this).removeAttr('checked');
            $(this).attr('previousValue', false);
            document.getElementById('afterGuide').style.display = "none"
            document.getElementById('afterGuide').setAttribute('value',null)
            console.log(document.getElementById('afterGuide').getAttribute('value'))
        } else {
            $("input[name="+name+"]:radio").attr('previousValue', false);
            $(this).attr('previousValue', 'checked');
            document.getElementById('afterGuide').style.display = "block"
        }
    });
    };

    grd('1');
</script>
</html>