{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://harvesthq.github.io/chosen/chosen.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://harvesthq.github.io/chosen/chosen.jquery.js"></script>
    <title>Complete Trivy Profile</title>
</head>

<body>
    <section></section>
</body>
<script>
    document.getElementById('output').innerHTML = location.search;
    $(".chosen-select").chosen();
    // console.log(radioBtn.checked)
    // if (radioBtn.checked===true) {
    //     radioBtn.addEventListener('click', () => {
    //         document.getElementById('places').style.display = "none"
    //         radioBtn.checked = false;
    //     })
    // }
    // radioBtn.addEventListener('click', () => {
    //     console.log("Hello")
    //     if (radioBtn.checked===true) {
    //         console.log("Hello 2")
    //         document.getElementById('places').style.display = "block"
    //     } else {
    //         document.getElementById('places').style.display = "none"
    //         radioBtn.checked = false;
    //     }
    // })
    var grd = function(){
    $("input[type='radio']").click(function() {
        var previousValue = $(this).attr('previousValue');
        var name = $(this).attr('name');

        if (previousValue == 'checked') {
            $(this).removeAttr('checked');
            $(this).attr('previousValue', false);
            document.getElementById('places').style.display = "none"
            document.getElementById('places').setAttribute('value',null)
            console.log(document.getElementById('places').getAttribute('value'))
        } else {
            $("input[name="+name+"]:radio").attr('previousValue', false);
            $(this).attr('previousValue', 'checked');
            document.getElementById('places').style.display = "block"
        }
    });
    };

    grd('1');
</script>
</html>
