{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    <title>Trivy</title>
    <link rel="stylesheet" href="{% static 'css/logreg.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  </head>
  <body>
  <div class="container">
    <div class='background'></div>
    <div class="Form-Login">
        {% if message %}<p>{{ message }}</p>{% endif %}
        <form action="{% url 'registration' %}" method="POST">
        {% csrf_token %}
        <h1>Register</h1>
        <div>
          <input type="text" name="first_name" />
          <label>First Name</label>
        </div>
        <div>
          <input type="text" name="last_name" />
          <label>Last Name</label>
        </div>
        <div class='email'>
          <input type="email" name="email" />
          <label>Email</label>
        </div>
        <div class='password'>
        <input type="password" name="password" id="password"/>
          <label>Password</label>
          <span id="show-password">
            <i class="far fa-eye"></i>
          </span>
        </div>
        <div>
          <button class='Button-Login'>Register</button>
        </div>
        <a href="{% url 'login' %}">Have an account? Login.</a>
      </form>
    </div>
  </div>

 </body>
 <script>
  showP = document.getElementById('show-password')
  showP.onclick = () => {
   password = document.getElementById('password')
    if (password.type === "password"){
       password.setAttribute('type','text')
    } else {
       password = document.getElementById('password')
       password.setAttribute('type','password')
    }
  }
</script>
</html>

</body>
</html>