<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li.common {
            color: #f66666
        }
    </style>
</head>
<body>
    <p>Name: {{traveller.user.first_name}} {{traveller.user.last_name}}</p>
    <p>Email: {{traveller.user.email}}</p>
    <div>
        Interests: 
        <ul>
            {% for interest in traveller.interests.all %}
                {% if interest in meUser.interests.all %}
                <li class="common">{{interest.name}}</li>
                {% else %}
                <li class="different">{{interest.name}}</li>
                {% endif %}
            {% endfor %}
        </ul>
        Expected Date: {{h.expected_date}}
    </div>
    {% if h.status == 1 %}
    <form action="{% url 'guide-interested' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Interested">
    </form>
    {% elif h.status == 2 %}
    You have marked this user as interested. Haven't talked to them yet? Do it quick...
    <form action="{% url 'guide-confirmed' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Confirm">
    </form>
    {% elif h.status == 3 %}
    <form action="{% url 'guide-started' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Start Meeting">
    </form>
    {% elif h.status == 4 %}
    <p> Waiting for the traveller to confirm.</p>
    <p>Remember to refresh the page after he/she confirms</p>
    {% elif h.status == 5 %}
    <form action="{% url 'guide-ending' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="End Meeting">
    </form>
    {% elif h.status == 6 %}
    <p> Waiting for the traveller to confirms the end.</p>
    <p>Remember to refresh the page after he/she confirms the end</p>
    {% elif h.status == 7 %}
    <form action="{% url 'guide-paid' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Paid">
    </form>
    {% elif h.status == 9 %}
    <p> We hope you had a great time</p>
    {% endif %}
    <form action="{% url 'guide-cancelled' traveller.id h.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Not Interested">
    </form>
</body>
</html>