{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}" type="image/x-icon">
    <title>Dashboard | Trivy</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    {% include 'nav.html' %}
    <div class="dash">

    </div>


    <div class="sr">
            <p style="margin-bottom:25px">
    {% if isGuide %}
    <a class="button is-rounded gd" href="/guide-dashboard">Your Guide Dashboard</a>
    {% endif %}
        </p>
        <h1>Welcome, {{user.first_name}} {{user.last_name}}</h1> 
        <h2>Which city do you want to explore ?</h2>
    <form method="POST" action="{% url 'travel-dashboard' %}">
        {% csrf_token %}
        <div class="select">
            <select name="place" id="place">
            {% for p in places %}
            {% if p == place %}
                <option value="{{p.id}}" selected>{{p.name}}</option>
                {% else %}
                <option value="{{p.id}}">{{p.name}}</option>
                {% endif %}
            {% endfor %}
            </select>
        </div>
        <input type="submit">
    </form>
        </div>

    <!-- {% if guides %} -->
    <!-- {{guides}} -->

    <div class="">
        <h1>TESTING</h1>
    </div>

    {% for guide in guides %}
    <div>
        Name: {{guide.user.first_name}} {{guide.user.last_name}} <br>
        Email: {{guide.user.email}}
        <a type="button" href="{% url 'guide-detail' guide.id %}">Choose</a>
    </div>
    {% endfor %}
    <!-- {% endif %} -->


</body>
</html>